# ─── Python 仮想環境 ───
env/
.venv/

# ─── Python キャッシュ ───
__pycache__/
*.py[cod]

# ─── VS Code 個人設定 ───
.vscode/*
!.vscode/settings.json      # 設定だけは残す
# 例
src/hello.py
data/


# ─── PyTorch / 学習結果 ───
*.pt
*.pth

# ─── LaTeX 補助ファイル ───
*.aux
*.log
*.toc
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls

# ─── OS のゴミ ───
.DS_Store
Thumbs.db

#deep learning関連
models/
*.png
results/figs/
!results/figs/sample_preds.png